<% @aorders.each do |aorder| %>
  <tr >
    <td class= 'hoverable' data-orderid='[<%=aorder.id%>]' > <%= aorder.id %></td>
    <td class= 'hoverable' data-orderid='[<%=aorder.id%>]' > <%= aorder.onname %></td>
    <td class= 'hoverable' data-orderid='[<%=aorder.id%>]' > <%= aorder.department.name if aorder.department %></td>
    <td class= 'hoverable' data-orderid='[<%=aorder.id%>]' > <%= aorder.contact %></td>
    <td class= 'hoverable' data-orderid='[<%=aorder.id%>]' > <%= aorder.adestination %></td>
    <td class= 'hoverable' data-orderid='[<%=aorder.id%>]' > <%= aorder.ftime.strftime("%H:%M") %></td>
    <td class= 'hoverable' data-orderid='[<%=aorder.id%>]' > <%= aorder.totime.strftime("%H:%M") %></td>
    <td class= 'hoverable' data-orderid='[<%=aorder.id%>]' > <%= link_to aorder.aauto.name+' ('+aorder.aauto.autodesc+')', aorder.aauto if aorder.aauto %></td>
    <td class= 'hoverable' data-orderid='[<%=aorder.id%>]' > <%= aorder.comment %></td>
    

    <%= td_odometer( aorder.odobegin, aorder.odoend, aorder.outofcity, :"data-orderid"=>"[#{aorder.id}]") do %>
        <%= aorder.odobegin  %>
    <%end %>

  
    <%= td_odometer( aorder.odobegin, aorder.odoend, aorder.outofcity, :"data-orderid"=>"[#{aorder.id}]") do %>
        <%= aorder.odoend %>
    <%end %>

    <%= td_odometer( aorder.odobegin, aorder.odoend, aorder.outofcity, :"data-orderid"=>"[#{aorder.id}]") do %>
        <%= aorder.outofcity%>
    <%end %>


    <% if is_admin? and !@odate.isclosed%>
      <td><%= link_to 'Измен. заказ', edit_aorder_path(aorder) %></td>
    <%elsif is_current_user_or_admin?(aorder.user_id) and !@odate.isclosed%>
      <td><%= link_to 'Измен. пробег', edit_aorder_odometer_path(aorder) %></td>
    <%elsif is_current_user_driver? and !@odate.isclosed%>
      <td><%= link_to 'Измен. пробег', edit_aorder_odometer_path(aorder) %></td>
    <%else%>
      <td><%= link_to 'Детали', aorder_path(aorder) %></td>
    <%end%>

      <%=
        #link_to 'Удал', aorder, :confirm => 'Вы уверены?', :method => :delete настоящее удаление нам не надо
      %>

    <td>
      <%= link_to 'Удал.', aorder_cancel_path(aorder), :confirm => 'Вы уверены?' if (
        is_admin? or 
        ( is_current_user_or_admin?(aorder.user_id) and
        (  (aorder.aauto_id==nil or aorder.aauto_id==::NILDRIVER) )) and
        ( !@odate.isclosed )
      )%>

    </td>


    <% if is_admin?  %>
        <td><%= aorder.user.name %></td>
    <%end%>
  </tr>
<% end %>