<% @aorders.each do |aorder| %>
  <tr>
    <td><%= aorder.id %></td>
    <td><%= aorder.onname %></td>
    <td><%= aorder.ondepartment %></td>
    <td><%= aorder.contact %></td>
    <td><%= aorder.adestination %></td>
    <td><%= aorder.ftime.strftime("%H:%M") %></td>
    <td><%= aorder.totime.strftime("%H:%M") %></td>
    <td><%= link_to aorder.adriver.name, aorder.adriver if aorder.adriver %></td>
    <td><%= aorder.comment %></td>

    <% if is_admin? %>
      <td><%= link_to 'Измен.', edit_aorder_path(aorder) %></td>
    <%else%>
      <td><%= link_to 'Детали', aorder_path(aorder) %></td>
    <%end%>

      <%=
        #link_to 'Удал', aorder, :confirm => 'Вы уверены?', :method => :delete настоящее удаление нам не надо
      %>

    <td><%= link_to 'Удал.', aorder_cancel_path(aorder), :confirm => 'Вы уверены?' if (is_admin? or ( is_current_user_or_admin?(aorder.user_id) and(  (aorder.adriver_id==nil or aorder.adriver_id==::NILDRIVER) )))%></td>
    <% if is_admin?  %>
        <td><%= aorder.user.name %></td>
    <%end%>
  </tr>
<% end %>