<p id="notice"><%= notice %></p>

<p>
  <b>Автомобиль:</b>
  <%= @aauto.name %>
</p>

<p>
  <b>Водитель:</b>
  <%= @aauto.autodesc %>
</p>

<p>
  <b>Госномер:</b>
  <%= @aauto.autonumber %>
</p>

<p>
  <b>Контактный тел. водителя:</b>
  <%= @aauto.contact %>
</p>


<%= link_to 'Изменить', edit_aauto_path(@aauto) if is_admin?%> |
<%= link_to 'Список водителей', aautos_path %>
<br />
<%= link_to 'Список заказов', aorders_path %>
