<% @aorders.each do |aorder| %>
  <tr>
    <td><%= aorder.id %></td>
    <td><%= aorder.onname %></td>
    <td><%= aorder.ondepartment %></td>
    <td><%= aorder.contact %></td>
    <td><%= aorder.adestination %></td>
    <td><%= aorder.ftime.strftime("%H:%M") %></td>
    <td><%= aorder.totime.strftime("%H:%M") %></td>
    <td><%= link_to aorder.aauto.name, aorder.aauto if aorder.aauto %></td>
    <td><%= aorder.comment %></td>

    <td class= '
    <%= 'badodometer' if (aorder.odoend-aorder.odobegin)>100 or (aorder.odoend-aorder.odobegin)<=0 %>
    '> 
    <%= aorder.odobegin %></td>
    
    <td class= 
    '
    <%= 'badodometer' if (aorder.odoend-aorder.odobegin)>100 or (aorder.odoend-aorder.odobegin)<=0 %>
    '>
    <%= aorder.odoend %></td>


    <td><%= aorder.odate.thedate %></td>
    <td><%= aorder.user.name %></td>


  </tr>
<% end %>