<% @aorders.each do |aorder| %>
  <tr>
    <td><%= aorder.id %></td>
    <td><%= aorder.onname %></td>
    <td><%= aorder.department.name if aorder.department %></td>
    <td><%= aorder.contact %></td>
    <td><%= aorder.adestination %></td>
    <td><%= aorder.ftime.strftime("%H:%M") %></td>
    <td><%= aorder.totime.strftime("%H:%M") %></td>
    <td><%= aorder.aauto.name_autodesc if aorder.aauto %></td>
    <td><%= aorder.comment %></td>

    <%= td_odometer(aorder.odobegin, aorder.odoend, aorder.outofcity) do %>
        <%= aorder.odobegin %>
    <%end%>
    
    <%= td_odometer(aorder.odobegin, aorder.odoend, aorder.outofcity) do %>
        <%= aorder.odoend %>
    <%end%>

    <td><%= aorder.distance %></td>



    <td <%= 'class= baddate' if !aorder.odate.isclosed %> ><%= link_to( aorder.odate.thedate, setdate_path( tek_date: aorder.odate.thedate), method: :post ) %></td>
    <td><%= aorder.user.name %></td>


  </tr>
<% end %>