<h1>Статистика</h1>
<i> Примечание - длительность поезки учитывается в статистике только если  автомобиль двигался (пробег по заявке более нуля) </i>
<h2> Заказы автомобилей за период с <%= @date_begin %> по <%= @date_end %> </h2>

    <%= form_tag(stat_path) do %>

       <%= text_field_tag :first_date, @date_begin, :size=>8 %>
       <%= text_field_tag :last_date, @date_end, :size=>8 %>
       <%= submit_tag 'поменять (обновить инф.)' %>

    <% end %>

	<table class="allorderlist" "id=table_active" >
    <%= render 'head' %>
    <%= render 'body' %>
  </table>

  <%= form_tag(stat_xml_path, :format=> :xml) do %>

       <%= hidden_field_tag :first_date, @date_begin %>
       <%= hidden_field_tag :last_date, @date_end %>
       <%= submit_tag 'загрузить в xml (сортировки нет)' %>
  <% end %>


<h2> Сформировать маршрутные листы за указанный период </h2>
    <%= form_tag(routelist_path, :target =>'_blank', id: "auto_select_form") do %>
      <%= hidden_field_tag :first_date, @date_begin %>
      <%= hidden_field_tag :last_date, @date_end %>

       <%= label_tag :auto_id, 'по автомобилям (Ctrl+клик - выбор нескольких)' %>
       <%= select_tag :auto_id,  options_for_select( @auto_list.collect{|u| [u.name_autodesc, u.id]}), {multiple: true, size: "#{@auto_list.size}"}  %>

      <%= submit_tag 'сформировать' %>
    <% end %>

    <%= link_to 'Вернуться в список заказов (на главную)', aorders_path   %>
