<!DOCTYPE html>
<html>
<head>
  <title>Tm2</title>
  <%= stylesheet_link_tag 'application', :media=>:all %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
 <% flash.each do |name, msg| %>
   <%= content_tag :div, msg, id: "flash#{name}", class:"field_with_errors" %>
 <% end %>

<%= yield %>


</body>
</html>
